<div class="row">
	<div class="pull-right">
		<ul class="nav nav-pills">
			<li><%= link_to 'About Wecool', about_wecool_path %></li>
			<li><%= link_to 'Online Editing', online_editing_path %></li>
			<li><%= link_to 'Organize Photo', organize_photo_path %></li>
		</ul>
	</div>
</div>
