<%= render "static_page/tour/tour_header" %>

<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Edit Photos Online</h1>
  <p class="lead text-center">Why this is a good place for your photos</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	<p class="text-center">
		<%= link_to 'More About WeCool', about_wecool_path, :class => 'btn btn-large btn-info' %>
	</p>
</div>

<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Post it online or download</h1>
  <p class="lead text-center">Why this is a good place for your photos</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	<p class="text-center">
		<%= link_to 'More About WeCool', about_wecool_path, :class => 'btn btn-large btn-info' %>
	</p>
</div>

