<%= render "static_page/tour/tour_header" %>

<div id="organize-panel-1" class="hero-unit hero-unit-front">
  <h1 class="text-center">Features First</h1>
  <p class="lead text-center">One click to highlight your favourite photos and we'll show them first</p>
</div>

<div id="organize-panel-2" class="hero-unit hero-unit-front">
  <h1 class="text-center">Sets</h1>
  <p class="lead text-center">Your personal online album</p>
</div>

<div id="organize-panel-2" class="hero-unit hero-unit-front">
  <h1 class="text-center">Tags</h1>
  <p class="lead text-center">Why this is a good place for your photos</p>
</div>
