<div id="front-panel-1" class="hero-unit hero-unit-front white-font">
  <h1 class="text-center">Home for Your Photos</h1>
  <p class="lead text-center">Keep your memories here. Access them anywhere. Share it out if you like. Or keep it private.</p>
</div>

<div id="front-panel-2" class="hero-unit hero-unit-front white-font">
  <h1 class="text-center">Upload. Edit. Post.</h1>
  <p class="lead text-center">Use our online tools to make your photos look great</p>
</div>

<div id="front-panel-3" class="hero-unit hero-unit-front white-font">
  <h1 class="text-center">Bring Order To Chaos</h1>
  <p class="lead text-center">Either you got 10 photos or 10 million, we can help keep it organize. <br /> Showcase your featured. Put them in a set. Or tag them up.</p>
</div>

<div id="front-panel-4" class="hero-unit hero-unit-front white-font">
  <h1 class="text-center">Sign up</h1>
  <p class="lead text-center">… or take a look around. It’s free</p>
  <p class="text-center">
    <%= link_to 'Explore', photos_path, :class=> 'btn btn-large btn-info' %>
    <%= link_to 'Sign Up', new_persona_registration_path, :class=> 'btn btn-large btn-primary' %>
  </p>
</div>
