<div class="hero-unit hero-unit-front" style="background-image: url(http://placehold.it/1200x520);">
  <h1 class="text-center">Home for Your Photos</h1>
  <p class="lead text-center">Keep your memories here. Access them anywhere. Share it out if you like. Or keep it private.</p>
</div>

<div class="hero-unit hero-unit-front" style="background-image: url(http://placehold.it/1200x520);">
  <h1 class="text-center">Upload. Edit. Post.</h1>
  <p class="lead text-center">Use our online tools to make your photos look great</p>
</div>

<div class="hero-unit hero-unit-front" style="background-image: url(http://placehold.it/1200x520);">
  <h1 class="text-center">Bring Order To Chaos</h1>
  <p class="lead text-center">Either you got 10 or 10 million photos, we can help keep it organize. Showcase your featured. Put them in a set. Or tag them up.</p>
</div>

<div class="hero-unit hero-unit-front" style="background-image: url(http://placehold.it/1200x520);">
  <h1 class="text-center">Sign up</h1>
  <p class="lead text-center">… or take a look around. It’s free</p>
  <p class="text-center">
    <%= link_to 'Explore', photos_path, :class=> 'btn btn-large btn-info' %>
    <%= link_to 'Sign Up', new_persona_registration_path, :class=> 'btn btn-large btn-primary' %>
  </p>
</div>
