<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Heading 1</h1>
  <p class="lead text-center">Something smart here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>

<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Heading 2</h1>
  <p class="lead text-center">Something smart here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>

<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Heading 3</h1>
  <p class="lead text-center">Something smart here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>

<div class="hero-unit">
  <p class="text-center"><img src="http://placehold.it/1200x400" /></p>
  <h1 class="text-center">Heading 4</h1>
  <p class="lead text-center">Something smart here</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  <p class="text-center">
    <div class="btn-group">
      <button class="btn btn-large btn-info">Explore</button>
      <button class="btn btn-large btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Photo</a></li>
        <li><a href="#">Sets</a></li>
        <li><a href="#">Persona</a></li>
      </ul>
    </div>
    <%= link_to 'Sign Up', new_persona_registration_path, :class=> 'btn btn-large btn-primary' %>
  </p>
</div>
