<div class="page-header">
  <h1>About Us</h1>
</div>

<div class="row-fluid">
  <h2>The Company</h2>
  <div class="row-fluid">
    <p>
      The best photo management, display and editing website in the world. 
    </p>
    <p>
      Management - dump all your photos here, keep it all in
    </p>
    <p>
      Display - provide organization tools to help you display.
    </p>
    <p>
      Editing - Provide tools to edit your photos online.
    </p>
  </div>
</div>

<div class="row-fluid">
  <h2>The People</h2>
  <div class="row-fluid">
    Just Me
  </div>
</div>
