<div class="page-header">
  <h1>About Us</h1>
</div>

<div class="row-fluid">
  <h2>The Company</h2>
  <div class="row-fluid">
    <div class="span6">
      <p class="lead">
        We aim to be the best photo management, display and editing website in the world. We aim to please. 
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h3>How are we going to do this?</h3>
      <p>
        In one word: <Strong>easy</strong>. We want to make everything, uploading, organizing, showcasing, displaying, sharing dead easy. You just drop in your photos on the upload page to upload your photos. Drag and drop your photos to create your mediaset. Drag the photos around to arrange them in the order to your liking. You can use #hashtags on your photo description and title to assign tags to your photos. 
      </p>
      <p>
        After you have done uploading and tagging your photos, you can add a star to your photo to highlight it. It will automatically show up in the 'featured' page on your page. You can do the same for you mediasets.
      </p>
      <p>
        Take <%= link_to 'the tour', tour_path %> to understand more on how to get around and make the best use of this site
      </p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <h2>The People</h2>
  <div class="row-fluid">
    Just Me
  </div>
</div>
