<h1>Not Supported</h1>

<p>
<%= browser.name == 'Other' ? 'Your browser' : browser.name %> is not supported at the momment. Please use <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.mozilla.org/en-US/firefox/">Mozilla Firefox</a>, <a href="http://www.opera.com/">Opera</a> or <a href="http://support.apple.com/downloads/#safari">Apple Safari</a> to use this website.
</p>
