<div class="page-header">
  <h1>Terms of Use</h1>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
		<h2>Accounts</h2>
			<p>
				By signing up, we will be given a free account with the following restrictions:-
				<ul>
					<li>5 gb of storage space for your photos</li> 
					<li>10gb of upload bandwidth per calendar month</li>
				</ul>
				the account holder will have a choice to purchase additional data storage from our store. buying purchased storage entitle the account holder to unlimited upload bandwidth.
			</p>

		<h2>Performance</h2>
we provide the web services at best effort basis. 

		<h2>House Rules</h2>
			<p>
				<ul>
					<li><strong>Upload your own photos</strong> - Don't steal other people photos. Upload your own</li>
					<li><strong>No Explicit Stuff</strong>   - Kids are watching this site. Please be appropiate. If not, we will take it down. Plus, it's the law</li>
					<li><strong>Have Fun</strong> - Seriously, your photos will look better if you having fun in what you are taking</li>
				</ul>
			</p>
		
		<h2>Copyright</h2>
			<p>
				Each photo is owned by the uploader. However, if someone claim copyright on a photo, we will suspend the photo without notice
			</p>

		<h2>Prohibitions</h2>
			<p>
				Since this website is Malaysian, we have to follow Malaysian law, so no inappropiate photos please.
			</p>
</div>
