<div class="page-header">
  <h1>Terms of Use</h1>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
      <h2>Accounts</h2>
      <p>
        By signing up, you have a choice of two accounts, the default free account or the paid account where the upgradeable 
        from a free account after getting authorization coupon codes.
      </p>
      <div class="span5">
      <h3>Free</h3>
        <p>
          By default, all users will sign up to free accounts with the following restrictions:-
          <ul>
            <li>
              <strong>Photos -</strong> Free users will be limited to 1000 photos. When a free user account breached this limit, 
              only the latest 1000 photos will be viewable. The photos will not be deleted in case the user wishes to upgrade at 
              a later date
            </li>
            <li>
              <strong>Photo Size -</strong> Photo size will be limited to Large size (1000pixel height) only. Photos uploaded to 
              larger than this size will be shrunk to the stipulated size. However, the original photo and all sizes larger than the 
              large will be kept in case the user wishes to upgrade at a later date
            </li>
            <li>
              <strong>Photo Visibility -</strong> Free user accounts will have all their photos visible in the public. There is no 
              option to make the photo private
            </li>
            <li>
              <strong>Mediasets -</strong> Free user account will be limited to 5 mediaset only. When reach the limit of the number
              of mediaset, the user will not be allowed to create any more mediaset.
            </li>
            <li>
              <strong>Bandwidth -</strong> In each calander month. The free user will be allowed only upto 300MB of bandwidth 
              (300MB of photos to be uploaded to this site)
            </li>
          </ul>
        </p>
      </div>
      <div class="span5">
      <h3>Paid</h3>
        <p>
          Free users can upgrade their account to paid users by entering authorization coupon codes which can be purchase to 
          various means. The authorization code will allow the above restrictions to be lifted for a limited amount of time as 
          the coupon will indicate. So, by upgrading to paid accounts the user will have the following:-
        </p>
        <p>
          <ul>
            <li>
              <strong>Photos -</strong> All the users photos that has been uploaded can be viewed by the user. There is no limit 
              to how many photos a paid user can have
            </li>
            <li>
              <strong>Photo Size -</strong> The photos will have all the sizes from the original photo size upto square 50 pixel in 
              width
            </li>
            <li><strong>Photo Visibility -</strong> A paid user can set a photo to be private</li>
            <li><strong>Mediaset -</strong> A paid user can has as many mediaset as the user wishes</li>
            <li>
              <strong>Bandwidth -</strong> A paid user will have unlimited bandwidth. There is no restriction on how many photos 
              the user can upload
            </li>
          </ul>
        </p>
        </div>
    </div>
    <div class="row-fluid">
      <h2>House Rules</h2>
      <ul>
        <li><strong>Upload your own photos</strong> - Don't steal other people photos. Upload your own</li>
        <li>
          <strong>No Explicit Stuff</strong> - Kids are watching this site. Please be appropiate. If not, we will take it down. 
          Plus, it's the law</li>
        <li><strong>Have Fun</strong> - Seriously, your photos will look better if you having fun in what you are taking</li>
      </ul>
    </div>
    <div class="row-fluid">
      <h2>Copyright</h2>
      <p>Each photo is owned by the uploader. However, if someone claim copyright on a photo, we will suspend the photo</p>
    </div>

    <div class="row-fluid">
      <h2>Prohibitions</h2>
      <p>Since this website is Malaysian, we have to follow Malaysian law, so no inappropiate photos please.</p>
    </div>
  </div>
</div>
