<div class="page-header">
  <h1>Terms of Use</h1>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
      <h2>House Rules</h2>
      <ul>
        <li><strong>Upload your own photos</strong> - Don't steal other people photos. Upload your own</li>
        <li><strong>No Explicit Stuff</strong> - Kids are watching this site. Please be appropiate. If not, we will take it down. Plus, it's the law</li>
        <li><strong>Have Fun</strong> - Seriously, your photos will look better if you having fun in what you are taking</li>
      </ul>
    </div>
    <div class="row-fluid">
      <h2>Copyright</h2>
      <p>Each photo is owned by the uploader. However, if someone claim copyright on a photo, we will suspend the photo</p>
    </div>

    <div class="row-fluid">
      <h2>Prohibitions</h2>
      <p>Since this website is Malaysian, we have to follow Malaysian law, so no inappropiate photos please.</p>
    </div>
  </div>
</div>
