<div class="row-fluid">
  <h1 class="page-header">The Tour of WeCool</h1>
</div>
<div class="row-fluid">
  <h2>Concepts</h2>
  <ul>
    <li><strong>Photos</strong> -  get uploaded to the site. Only jpegs are allowed at the moment</li>
    <li><strong>Mediaset</strong> - You organize your photos in a mediaset. You can arrange them in a particular order in a mediaset. </li>
    <li><strong>Tags</strong> - #hashtags will help organize your photos. You can view photos by tags. However, they can't be organized in a particular order</li>
  </ul>
</div>
<div class="row-fluid">
  <h2>Uploading</h2>
  <p>It's easy go to the upload page and drag and drop you photo to the page. To help oraganize your new upload, you can add #hashtags or assign them to an existing or a new mediaset</p> 
</div>

<div class="row-fluid">
  <h2>Organizing</h2>
  <p>You can organize your photo via mediaset, or tags</p>
</div>

<div class="row-fluid">
  <h2>Sharing</h2>
  <p>Share your photo by providing a link, sending email or post to facebook, twitter and other social media</p>
</div>

<div class="row-fluid">
  <h2>Editing</h2>
  <p>So far, only rotation is allow. We are working on that</p>
</div>
