<div class="row-fluid">
  <h1 class="page-header">The Tour of WeCool</h1>
</div>
<div class="row-fluid">
  <div class="span10 offset1">
  <h2>Concepts</h2>
  <ul>
    <li><strong>Photos</strong> -  get uploaded to the site. Only jpegs are allowed at the moment</li>
    <li><strong>Mediaset</strong> - You organize your photos in a mediaset. You can arrange them in a particular order in a mediaset. </li>
    <li><strong>Tags</strong> - #hashtags will help organize your photos. You can view photos by tags. However, they can't be organized in a particular order</li>
  </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
  <div class="row-fluid">
    <h2>Uploading</h2>
    <div class="span6">
      <img src="http://placehold.it/600x200" />
    </div>
    <div class="span5">
      <ul>
        <li>Go to the upload page</li>
        <li>Drop your photos inside the box</li>
        <li>Add descriptions with #hashtags or assign them to a existing/new mediaset</li>
        <li>Upload away</li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <h2>Organizing</h2>
    <div class="span5">
      <strong>Mediaset</strong>
      <ul>
        <li>Go to your mediaset page</li>
        <li>Create a new mediaset</li>
        <li>Drop photos in the mediaset selection. Arrange them to your liking</li>
        <li>Save and you're done</li>
      </ul>
      <strong>Tags</strong>
      <ul>
        <li>Select the photos that you want to edit</li>
        <li>Add #hashtags to the title or description</li>
        <li>The photos will be tagged automatically</li>
      </ul>
    </div>
    <div class="span6">
      <img src="http://placehold.it/600x200" />
    </div>
  </div>

  <div class="row-fluid">
    <h2>Editing</h2>
    <div class="span6">
      <img src="http://placehold.it/600x200" />
    </div>
    <div class="span5">
      <ul>
        <li>When browsing for photos, you can rotate your photos via top-right hand corner of each image</li>
        <li>In the photo view page, you have more rotation options</li>
      </ul>
    </div>
  </div>
  </div>
</div>
