- content_for :title, @persona.screen_name + ' pending jobs' 
- @focus = 'pending jobs' 
= render "common/personaHeaderBar" 

.row-fluid
  .span10.offset1
    %table.table.table-striped#jobs-table(style="display:none;")
      %caption 
        Currently Pending Jobs
        %button.btn.btn-primary(type="button")
          %i#refresh-jobs-list.fa.fa-refresh
      %thead
        %tr
          %th ID 
          %th Object
          %th method
          %th Started
      %tbody
    #loading-jobs
      %i.fa.fa-spinner.fa-4x.fa-spin
    .well#zero-jobs-display(style="display:none;")
      No Pending Jobs
