- content_for :title, @persona.screen_name + ' pending jobs' 
- @focus = 'pending jobs' 
= render "common/personaHeaderBar" 

.row-fluid#jobs-list(last_id=@last_id)
  .span10.offset1
    %table.table.table-striped#jobs-table(style="display:none;")
      %caption 
        Currently Pending Jobs
        %button#refresh-jobs-list.btn.btn-primary(type="button")
          %i.fa.fa-refresh
      %thead
        %tr
          %th ID 
          %th Object
          %th method
          %th Started
      %tbody
        %tr#get-more-jobs-row
          %td(colspan=4 style="text-align:center")
            =link_to 'Get More ...',get_more_persona_jobs_path(params[:persona_id], :job_id => @jobs.empty? ? 0 : @jobs.last.id), :remote => true, :class => 'btn btn-primary', :id => 'get-more-jobs'
    #loading-jobs
      %i.fa.fa-spinner.fa-4x.fa-spin
    .well#zero-jobs-display(style="display:none;")
      No Pending Jobs
