var handle = $('#tagcontent');
var x = 1;
<% @tags.each do |tag| %>
  handle.append( $('<tr/>') );
  <% if (defined? @persona).nil? then %>
    handle.find('tr:last').append( $('<td/>').
      html('<h3><%= link_to tag, tag_path(tag) %></h3>') );
  <% else %>
    handle.find('tr:last').append( $('<td/>').
      html('<i class="icon-tag"></i> <%= link_to tag, 
        persona_show_tag_path(@persona.screen_name, tag) %>') 
    );
  <% end %>
<% end %>
