<% if persona.nil? then %> 
  <% content_for :title, 'trendy tags' %>
  <div class="page-header">
    <h1>Trendy Tags for the past 24 hours</h1>
  </div>
<% else %>
  <% content_for :title, persona.screen_name + ' - tags' %>
  <% @focus = 'tags' %>
  <%= render :partial => "common/personaHeaderBar" %>
<% end %>

<div class"row-fluid">
  <div class="span8">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Tag</th>
          <th>Count</th>
        </tr>
      </thead>
      <% tags.each do |tag| %>
        <tr>
          <td></td>
          <td>
            <i class="icon-tag"></i> 
            <% if persona.nil? then %>
              <%= link_to tag.name, tag_path(tag.name) %>
            <% else %>
              <%= link_to tag.name, persona_show_tag_path(persona.screen_name, tag.name) %>
            <% end %>
          </td>
          <td>
            <%= tag.count %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
