<% if persona.nil? then %> 
  <% content_for :title, 'trendy tags' %>
  <div class="page-header">
    <h1><i class="icon-tags"></i> Tags</h1>
  </div>
<% else %>
  <% content_for :title, persona.screen_name + ' - tags' %>
  <% @focus = 'tags' %>
  <%= render :partial => "common/personaHeaderBar" %>
<% end %>

<div class="row-fluid navbar">
  <div class="navbar-inner">
    <ul class="nav" id="trendytags">
      <li class="active" id="recentTags"><a href="#">Recent</a></li>
      <li id="trendyTags"><a href="#">Trending</a></li>
    </ul>
  </div>
</div>
<div id="tagsResults" class"row-fluid" results="0">
  <div class="span6 offset4">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Tag</th>
        </tr>
      </thead>
      <tbody id="tagcontent">
      </tbody>
    </table>
    <div class="text-center">
      <%= button_tag 'Load More Tags', :type => 'button', :class => 'btn btn-info', :id=> 'loadMoreTags' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready( function(){
    $('#tagsResults').css('min-height', $(window).height()); 
    var sendParams = { mode: 'recent' } 

    //load initial content
    sendParams = { <%= persona.nil? ? "" : "persona_range:" + persona.id.to_s %> }
    $.ajax({
      url: '/tags/get_more',
      data: sendParams, 
      beforeSend: indicator.tagLoad('#tagcontent'),
      dataType: 'script'
    });

    //load more tags
    $('#loadMoreTags').click( function(){
      sendParams['offset'] = parseInt( $('#tagsResults').attr('results') );
      $.ajax({
        url: '/tags/get_more',
        data: sendParams, 
        beforeSend: indicator.tagLoad('#tagcontent'),
        dataType: 'script'
      });

    });

    //reload when the tab changes
    $('#trendytags li').click( function(event){
      event.preventDefault();
      $('.active').toggleClass('active');
      $(this).toggleClass('active');
      $('#tagsResults').attr('results', '0');
      sendParams['mode'] = $('#recentTags').hasClass('active') ? 'recent' : 'trending';

      <% if !persona.nil? then %>
        sendParams['persona_range'] = '<%= persona.id %>';
      <% end %> 

      //reload tags
      $('#tagcontent').empty();
      $.ajax({
        url: '/tags/get_more',
        data: sendParams, 
        beforeSend: indicator.tagLoad('#tagcontent'),
        dataType: 'script'
      });
    });

  });
</script>
