<div class="row">
  <div class="span10 offset1">
    <h1><%= @persona.screen_name %> activities </h1>
  </div>
</div>

<div class="row">
  <div class="span10 offset1">
		<h2>Recently...</h2>
		<table class="table table-bordered table-striped table-hover">
			<tbody id="recent-activity-body">
				<tr id="loading-activities"><td><i class="icon-spinner icon-4x icon-spin"></i></td></tr>
			</tbody>
		</table>
  </div>
</div>

