<%- model_class = Persona -%>
<% content_for :title, 'Recent Personas' %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="row-fluid endless-persona">
  <div class="last-div endless_scroll_inner_wrap" last="<%= Persona.last.id %>" ></div>
</div>

<div class="row-fluid">
  <a name="last-frame"></a>
  <%= link_to 'Load More Personas', '#last-frame', :class=>'btn btn-primary', :id=>'load-more-personas' %>
</div>
<script type="text/javascript">
</script>
