<%- model_class = Persona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div>
  <ul class="thumbnails">
    <% @personas.each do |persona| %>
      <li>
        <div class="thumbnail">
          <%= link_to image_tag(persona.avatar.url.nil? ? 'http://placehold.it/150x150' : persona.avatar.large), persona_path(persona.screen_name) %>
          <br />
          <%= link_to persona.screen_name,persona_path(persona.screen_name) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
