<div class="pagination pagination-centered">
  <% persona = Persona.find(@photolist.first.persona_id) %>
  <ul>
    <% if @photolist.first == @photo || @photolist.count < 9 then %>
      <li><%= link_to image_tag('http://placehold.it/100x100'), '#' %></li>
    <% end %>
    <% @photolist.each do |photo| %>
      <li>
        <% if params[:scope].nil? then %>
          <% view_path = photo_view_path(persona.screen_name, photo) %>
        <% elsif params[:scope] == 'featured' then %>
          <% view_path = photo_view_in_scope_path(persona.screen_name, photo, 'featured',  0)  %> 
        <% elsif params[:scope] == 'mediaset' then %>
          <% view_path = photo_view_in_scope_path(persona.screen_name, photo, 'mediaset',  @mediaset)  %> 
        <% end %>
        <%= link_to image_tag(photo.avatar.square100), view_path, :style => photo == @photo ? 'background-color:red' : '' %>
      </li>
    <% end %>
    <% if @photolist.last == @photo || @photolist.count < 9 then %>
      <li><%= link_to image_tag('http://placehold.it/100x100'), '#' %></li>
    <% end %>
  </ul>
</div>
