<div class="row-fluid">
  <ul class="thumbnails">
  <% @photos.each do |photo| %>
      <% this_persona = Persona.find(photo.persona_id).screen_name %>
      <li class="thumbnail">
          <%= link_to image_tag(photo.avatar.tiny), photo_view_path(this_persona, photo.id) %>
      </li>
  <% end %> 
  </ul> 
</div>
<% if persona_signed_in? then %>
<div>
  <%= link_to 'Upload Yours', new_photo_path  %>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready( function(){
    /*
    $('.description').hide();
    $('.thumbnail').hover(
      function(){
        $(this).find('.description').fadeIn(100);
      }, 
      function(){
        $(this).find('.description').fadeOut(100);
      }
    );
    */
  });
</script>
