<div class="row-fluid">
  <% @photos.each do |photo| %>
    <div style="float:left; margin: 0px 2px 2px 0px">
      <% this_persona = Persona.find(photo.persona_id).screen_name %>
          <%= link_to image_tag(photo.avatar.tiny, :class => 'img-polaroid'), photo_view_path(this_persona, photo.id) %>
    </div>
  <% end %> 
</div>
<% if persona_signed_in? then %>
<div>
  <%= link_to 'Upload Yours', new_photo_path  %>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready( function(){
    /*
    $('.description').hide();
    $('.thumbnail').hover(
      function(){
        $(this).find('.description').fadeIn(100);
      }, 
      function(){
        $(this).find('.description').fadeOut(100);
      }
    );
    */
  });
</script>
