<div class="row-fluid endless-photos" last="<%= @photos.last.id %>" >
  <div class="last-div endless_scroll_inner_wrap"></div>
</div>
<script type="text/javascript">
  //get the first few photos
  $.ajax({
    url: '/photos/get_more/<%= @photos.last.id %>', 
    data: {limit:'20'}, 
    dataType: 'script'
  });

  //keep loading until the end
  $(document).endlessScroll({
    fireOnce: true,
    fireDelay: 500, 
    bottomPixels: 250, 
    intervalFrequency: 100, 
    ceaseFireOnEmpty: false, 
    ceaseFire: function(){
      return $('.last-div').length ? false : true;
    }, 
    loader: '<div>loading...</div>', 
    callback: function(){
        $.ajax({
          url: '/photos/get_more/'+$('.endless-photos').attr('last'), 
          dataType: 'script'
        });
    }, 
    ceaseFire: function(s){
      s<5 ? false : true;
    }
  });
</script>
