<div>
  <ul class="thumbnails">
  <% @photos.each do |photo| %>
      <% this_persona = Persona.find(photo.persona_id).screen_name %>
      <li class="thumbnail">
        <%= link_to image_tag(photo.avatar.tiny), photo_view_path(this_persona, photo.id), :rel => 'tooltip' , :'data-original-title' => photo.title + ' by ' + this_persona %>
      </li>
  <% end %> 
  </ul> 
</div>
<% if persona_signed_in? then %>
<div>
  <%= link_to 'Upload Yours', new_photo_path  %>
</div>
<% end %>
