<div class="row-fluid">
  <div class="span9">
    <% if persona_signed_in? then %>
        <div class="well">
            <a href="#" class="btn" id="corp">Corp</a>
          <div class="btn-group">
            <a href="#" class="btn" id="rotateLeft">Rotate Left</a>
            <a href="#" class="btn" id="rotateRight">Rotate Right</a>
          </div>
          <div class="btn-group">
            <a href="#" class="btn" id="brightness">Brightness</a>
            <a href="#" class="btn" id="contrast">Contrast</a>
          </div>
        </div>
        <canvas id="theCanvas" width=800 height=600>
          Your browser does not support canvas
        </canvas>
        <script type="text/javascript">
          var ctx = document.getElementById('theCanvas').getContext('2d');
          var img = new Image();
          img.src = "<%= @photo.avatar.large.url %>";
          img.onload = function(){
            ctx.drawImage(img,0,0);
          }
          
          $(document).ready( function(){
            //for the buttons
  
            $("#corp").click(function (event) {
              alert("corp clicked");
            });

            $("#rotateLeft").click(function (event) {
              alert("rotateLeft Clicked");
            });
    
            $("#rotateRight").click(function (event) {
              alert("rotateRight Clicked");
            });
          });
    
          
        </script>
      </div>
    <% else %>
      <div>
        <%= link_to 'Sign In', new_persona_session_path %> or 
        <%= link_to 'Sign Up', new_persona_registration_path %> to edit this photo
      </div>
    <% end %>
  </div><!-- span9 -->
</div><!-- row -->
