.row
	.span10.offset1
		%img{ :src => @photo.avatar.small }
.row
	.span10.offset1
		%button.btn.btn-large{ :type => 'button'}
			%i.fa.fa-undo
		%button.btn.btn-large{ :type => 'button'}
			%i.fa.fa-repeat
