<div class="page-header">
  <h1><%= @photo.title %> Exif data</h1>
</div>

<div>
  <%= image_tag @photo.avatar.medium  %>
</div>
<div>
  <% if @exif.nil? then %>
    <p>No exif data</p>
  <% else %>
    <table class="span6 table table-striped">
    <% @exif.to_hash.each_pair do |key,value| %>
      <tr>
        <td><strong><%= key %></strong></td>
        <td><%= value %></td>
      <tr>
    <% end %>
    </table>
  <% end %>
</div>
