<%- model_class = Mediaset -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Recent ' + model_class.model_name.human.pluralize %></h1>
</div>
<div class="row-fluid endless-mediaset">
  <div class="last-div endless_scroll_inner_wrap" id="last-frame"></div>
</div>
<div class="row-fluid">
  <%= link_to 'Get More Mediasets', '#', :class=>'btn btn-primary' %>
</div>

<script type="text/javascript">
  $.ajax({
    url: '/mediasets/get_more/<%= @mediasets.first.id %>',
    data: {includeFirst:true, limit:10},
    dataType: 'script'
  });
</script>
