<%- model_class = Mediaset -%>
<div class="page-header">
  <h1>Sets by <%= @persona.screen_name %></h1>
</div>

<ul>
  <li><%= link_to 'Default', photo_path(@persona.screen_name) %></li>
  <% @mediasets.each do |mediaset| %>
      <li><%= link_to mediaset.title, view_sets_path(@persona.screen_name, mediaset.id) %> </li>
  <% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mediasets_path, :class => 'btn'  %>
</div>
