<% @focus = 'track' %>
<%= render "common/personaHeaderBar" %>

<div>
  <h1>Tracking</h1>
  <ul>
    <% @tracking.each do |trackedObj| %>
      <li>
        <% if trackedObj.tracked_object_type == 'persona' then %>
          <%= Persona.find(trackedObj.tracked_object_id).screen_name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <h1>Tracked by</h1>
  <ul>
    <% @tracked_by.each do |trackedObj| %>
      <li>
        <% if trackedObj.tracked_object_type == 'persona' then %>
          <%= Persona.find(trackedObj.persona_id).screen_name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
