<% @focus = 'track' %>
<%= render "common/personaHeaderBar" %>

<div class="row-fluid">
  <h1>Tracking</h1>
  <div>
    <% @tracking.each do |persona| %>
      <div class="pull-left">
        <%= link_to image_tag(persona.avatar.url.nil? ? 'http://placehold.it/150x150' : persona.avatar.large, :class=> 'img-polaroid', :style=>'margin:4px;'), persona_path(persona.screen_name) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <h1>Trackers</h1>
  <div>
    <% @trackers.each do |persona| %>
      <div class="pull-left">
        <%= link_to image_tag(persona.avatar.url.nil? ? 'http://placehold.it/150x150': persona.avatar.large, :class=>'img-polaroid', :style=>'margin:4px;'), persona_path(persona.screen_name) %>
      </div>
    <% end %>
  </div>
</div>
