<p><%= @default_options[:persona_sender].nil? ? 'We' : @default_options[:persona_sender].screen_name %> would like to share something</p>

<div>
  <p><%= @default_options[:url] %></p>
</div>

<% if !@default_options[:message].nil? then %>
  <div>
    <%= simple_format(@default_options[:message]) %>
  </div>
<% end %>
<div>
  <p>Photo selection here</p>
</div>
