/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.fileupload-ui
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require jquery.Jcrop
 */

.rotate-right{
transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-moz-transform:rotate(90deg); /* Firefox */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
-o-transform:rotate(90deg); /* Opera */
}

.thin-font{
  font-family: 'Roboto', sans-serif;
}

.highlightPhoto{
  border: 1px solid red;
}

.hero-unit-front {
  height:400px;
  background-position: center;
  background-repeat: no-repat;
}
