// Place all the styles related to the mediasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.setMargin{
  margin: 2px;
}

.highlightPhoto{
  border: 1px solid red;
}

.zeroclipboard-is-hover{
  display:inline;
}
