// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require bootstrap_and_overrides
 *= require font-awesome
 */

#organize-panel-1{
  background-image: url(http://placehold.it/1200x540);
  background-repeat: no-repeat;
}

#organize-panel-2{
  background-image: url(http://placehold.it/1200x540);
  background-repeat: no-repeat;
}

#organize-panel-3{
  background-image: url(http://placehold.it/1200x540);
  background-repeat: no-repeat;
}
