<div class="pagination">
  <ul>
    <li><a href="#">Checkout</a></li>
    <li class="disabled"><a href="#">»</a></li>
    <li><a href="#">Payment</a></li>
    <li class="disabled"><a href="#">»</a></li>
    <li><a href="#">Confirmation</a></li>
  <ul>
</div>
