<h1>Store Checkout</h1>
<div class="row">
  <div class="span10 offset1">
    <table class="table table-striped" >
      <thead>
        <th>No</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>10.00</td>
          <td>2</td>
          <td>20.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>15.00</td>
          <td>3</td>
          <td>45.00</td>
        </tr>
        <tr class="info">
          <td colspan="4">Grand Total</td>
          <td>65.00</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
<div class="row">
  <div class="span6 offset1"></div>
  <div class="span2">
    <%= link_to 'Place Your Order', store_generate_order_path(@persona.screen_name) , :class=>'btn btn-primary pull-right', :remote => true, :method => :post %>
  </div>
   <div class="span2">
    <%= link_to 'Proceed to Payment', store_confirm_pay_path(@persona.screen_name), :class=>'btn btn-primary pull-right' %>
  </div>
</div>
