<h1>Past Orders</h1>
<div class="row">
	<div class="span10 offset1">
		<% if @orders.empty? then %>
      <div class="hero-unit">
        <h1>Nothing</h1>
        <p>You haven't ordered anything from us yet</p>
      </div>
		<% else %>
      <h2 class="page-header">History</h2>
      <div class="row">
        <div class="span10 offset1">
          <table class="table table-striped">
            <thead> 
              <tr>
                <th>Order ID</th>
                <th>Date Created</th>
                <th>Last Status Update Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <% @orders.reverse.each do |this_order| %>
              <tr>
                <td><%= link_to this_order.id, store_order_detail_path(@persona.screen_name,this_order.id) %></td>
                <td><%= this_order.created_at.localtime %></td>
                <td><%= this_order.updated_at.localtime %></td>
                <td><%= link_to Order::ORDER_STATUS_TEXT[this_order.status], 
                  store_order_detail_path(@persona.screen_name,this_order.id) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
		<% end %>
	</div>
</div>
