
<div class="row-fluid">
  <div class="page-header">
    <h2>Successfull coupon redemption</h2>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1">
    <p class="lead">
      <% if persona_signed_in? && @persona == current_persona then %>
        Congratulations <%= @persona.screen_name %>! 
      <% else %>
        You have given <%= @persona.screen_name %> premium membership!
      <% end %>
    </p>
    <p>
      You have:-
      <ul>
        <li>You have redeem coupon code <strong>'<%= @coupon.code %>'</strong></li>
      </ul>
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="form-actions span10 offset1">
    <%= link_to 'Back To Your Page', persona_path(@persona.screen_name), :class => 'btn btn-primary' %>
  </div>
</div>
